@model GolfDB2.EventDetail

@{
    ViewBag.Title = "ScoreBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Translate Event.Id to EventDetail.Id
    int eventId = GolfDB2.Tools.MiscLists.GetIdFromEventDetailByEventDetailId(Model.EventId, null);
    string courseId = GolfDB2.Tools.GlobalSettingsApi.GetInstance().CourseId.ToString();
    int numHoles = Model.NumberOfHoles;

    GolfDB2.Event evt = GolfDB2.Tools.EventDetailTools.GetEventRecord(Model.EventId, null);
    string startTime = evt.start.ToString("MM/dd/yyyy hh:mm");
    string endTime = evt.end.ToString("MM/dd/yyyy hh:mm");
    string eventName = evt.text;
    string sortOn = "division";
    }

<script type="text/javascript">

    function makeLoadTeeTimes() {
        //alert('Hello');
        $.ajax({
            url: '/api/HtmlApi?action=scoreboard&eventId=@Model.EventId&sortType=@sortOn',
            dataType: 'html',
            success: function (response) {
                //alert(response);
                $('#myListDiv').html(response);
            }
        });
    }

    makeLoadTeeTimes();
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br /><div>
        <table border="1">
            <tr><th>Course name</th><th>Event Name</th><th>Start</th><th>End</th><th>Sort On</th></tr>
            <tr>
                <td>@GolfDB2.Tools.MiscLists.GetCourseNameById(Model.CourseId, null)</td>
                <td>@eventName</td>
                <td>@startTime</td>
                <td>@endTime</td>
                <td>
                    <select id="sortOrder" name="sortOrder">
                        <option selected value="division">Division</option>
                        <option value="name">Player/Team</option>
                        <option value="startingholenumber">Hole</option>
                        <option value="totalscore">Gross</option>
                    </select>
                </td>
            </tr>
        </table>
    </div><br />
    <div>
        <div id="myListDiv" style="float: left; width: 100%; text-align: left; vertical-align: top;"></div>
    </div>
}