@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<GolfDB2.Models.CalendarEvent>

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<table class="table">
    <tr>
        <th><input type="submit" value="Filter" class="btn btn-default" /></th>
        <th>From:</th>
        <td>
            <input id="fromDate" name="fromDate" type="date" value="@ViewData["fromDate"]"/>
        </td>
    </tr>
    <tr>
        <th></th>
        <th>To:</th>
        <td>
            <input id="toDate" name="toDate" type="date" value="@ViewData["toDate"]"/>
        </td>
    </tr>
</table>
<script>
    if (!Modernizr.inputtypes.date)
    {
    $('input[type=date]').datepicker({
        // Consistent format with the HTML5 picker
        dateFormat: 'yyyy-mm-dd'
    });
    }
</script>
}

<!--
<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
-->

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Event Name")
        </th>
        <th>
            @Html.DisplayName("Start Date/Time")
        </th>
        <th>
            @Html.DisplayName("End Date/Time")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
