@model GolfDB2.Models.CourseRating

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CourseRating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course_Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlopeRating18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlopeRating18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Front9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Front9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Back9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Back9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BogeyRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BogeyRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HolesListDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HolesListDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandicapByHole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandicapByHole)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
